{% set tag = url ? 'a' : 'div' %}
{% set urlTag = url ? 'href="' ~ url ~ '"' : '' %}
{% set aos = delay ? 'data-aos="fade-up" data-aos-delay="' ~ delay ~ '"' : '' %}
{% set data = data_id ? 'data-id="' ~ data_id ~ '"' : ''  %}

<{{ tag }} class="block-item {{ class }}" {{ urlTag }} {{ aos }} {{ data }}> 

  <div class="image">
    {% if image %}
      {% set tImage = TimberImage(image) %}
      <img src="{{ tImage.src('large') }}" alt="{{ image.title }}" />
    {% endif %}
    
    {% if video %}
      <video autoplay muted loop>
        <source src="{{ video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video> 
    {% endif %}
  </div>

  <div class="content">
      {% if surtitle %} <div class="surtitle">{{ surtitle }}</div> {% endif %}
      {% if title %} <h3 class="title">{{ title }}</h3> {% endif %}
      {% if description %} <div class="description">{{ description }}</div> {% endif %}

      {% block content %}{% endblock %}

      {% if footer %} <div class="footer">{{ footer }}</div> {% endif %}
  </div>
</{{ tag }}>