<div id="menu">

  <div id="menu-image"></div>

  <ul id="primary-menu">
    {% for item in items %}
      <li>

        <a class="{{ item.children ? 'secondary-link' : '' }}" href="{{ item.link }}">{{ item }}</a>
        {% if item.children %}
          <ul class="secondary-menu">
            <a class="back" href="{{ item.link }}">{{ item }}</a>

            {% for subItem in item.children %}
              <li>
                <a target="{{ subItem.target }}" href="{{ subItem.link }}">{{ subItem.title }}</a>
              </li>
            {% endfor %}

          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>

  <div id="menu-footer">
    <div class="ms">
      {% if social_networks.linkedin_link %} 
        <a class="menu-footer-link" href="{{ social_networks.linkedin_link }}">LinkedIn</a>
      {% endif %}
      {% if social_networks.youtube_link %} 
        <a class="menu-footer-link" href="{{ social_networks.youtube_link }}">YouTube</a>
      {% endif %}
      {% if social_networks.facebook_link %} 
        <a class="menu-footer-link" href="{{ social_networks.facebook_link }}">Facebook</a>
      {% endif %}
      {% if social_networks.twitter_link %} 
        <a class="menu-footer-link" href="{{ social_networks.twitter_link }}">Twitter</a>
      {% endif %}
    </div>

    <div class="contact">
      {% if theme_infos.email %} 
        <a class="menu-footer-link" href="mailto:{{ theme_infos.email }}">{{ theme_infos.email }}</a> 
      {% endif %}
      {% if theme_infos.phone %} 
        <a class="menu-footer-link" href="tel:{{ theme_infos.phone }}">{{ theme_infos.phone }}</a> 
      {% endif %}
    </div>
  </div>
  
</div>