<form id="ajax-form" class="filters-ctn">
  <div class="container">
    <div class="filters">

      <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/case-studies" data-limit="1" data-featured="{{ featured }}">

      <div class="filter-group">
        <div class="title">Countries</div>
        {% for locale in locales %}
          <div>
            <input id="locale-{{ locale.term_id }}" type="checkbox" name="filter_locale" value="{{ locale.term_id }}" {% if current_locale == locale.term_id %} checked {% endif %} />
            <label for="locale-{{ locale.term_id }}">{{ locale.name }}</label>
          </div>
        {% endfor %}
      </div>

      <div class="filter-group">
        <div class="title">Sectors</div>
        {% for sector in industries %}
          <div>
            <input id="industries-{{ sector.term_id }}" type="checkbox" name="industries" value="{{ sector.term_id }}" />
            <label for="industries-{{ sector.term_id }}">{{ sector.name }}</label>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</form>