<div class="home-hero-ctn">
  <div class="title-ctn">
    <h1 class="title">{{ title }}</h1>
    <a class="internal link" href="{{ button.url }}" target="{{ button.target }}">{{ button.title }}</a>
  </div>

	<div class="text-ctn">
    <img id="home-spinner" src="{{ theme.link }}/assets/images/ui/spinner.png" alt="">
    {{ content }}
    <a class="circle btn"><i class="icon-arrow-up"></i></a>
  </div>
</div>
