<div class="home-hero">
  <div class="title-ctn">
    <h1 class="title">{{ title }}</h1>
    <a class="lnk" href="{{ button.url }}" target="{{ button.target }}">{{ button.title }}</a>
  </div>

	<div class="text-ctn">
    <img id="home-spinner" src="{{ theme.link }}/assets/images/ui/spinner.png" alt="">
    {{ content }}
    <a class="circle btn">X</a>
  </div>
</div>
