<div class="wrapper bg-icon">
  <div class="block-hero v-centered-title post-hero">

    <div class="image-ctn" data-aos="fade-up" data-aos-delay="200">
      <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
    </div>
    
    <div class="title-ctn">
      <a class="surtitle">
        {% if category %} <span class="category">{{ category.name }}</span> {% endif %}
        <span class="date">{{ post.post_date | date("F d, Y") }}</span>
      </a>

      <h1 class="title">{{ post.title }}</h1>

      {% if tags|length > 0 %}
        <div class="tags">
          {% for tag in tags %}
            <span class="tag">{{  tag.name }}</span>
          {% endfor %}
        </div>
      {% endif %} 
    </div>

  </div>
</div>
