<div class="project-hero-ctn">
	<div class="image-ctn">
    <img class="" src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
  </div>
  
  <div class="content-ctn">
    <a href="{{ industry_url }}" class="industry">{{ industry.name }}</a>
    <h1 class="title">{{ post.title }}</h1>

    <ul class="outcomes">
      <div class="list-label">Outcomes</div>
      {% for outcome in outcomes_list %}
        <li>{{ outcome.content }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
