<header id="header">

  {# SEARCH FIELD #}
  <div id="search-pane">
    <input type="text" placeholder="Search..." />
    <a id="search-close"><i class="icon-close-medium"></i></a>
  </div>

  {# COUNTRY SELECTOR #}
  <form id="country-pane" method="GET">
    <p>To read the appropriate content, please select your country :</p>

    <div class="countries">
      <label for="country-all">
        <input id="country-all" type="radio" name="set_locale" value="-1" {% if current_locale == -1 %} checked {% endif %} />
        All
      </label>

      {% for locale in locales %}
        <label for="country-{{ locale.term_id }}">
          <input id="country-{{ locale.term_id }}" type="radio" name="set_locale" value="{{ locale.term_id }}" {% if current_locale == locale.term_id %} checked {% endif %} />
          {{ locale.name }}
        </label>
      {% endfor %}
    </div>

    <button type="submit" id="country-set" class="blue btn">Confirm</button>
    <a id="country-close"><i class="icon-close-medium"></i></a>
  </form>

  {# LOGO AND TOP NAV #}
  <div id="main-pane" class="show">
    <a id="logo" href="/">
      <img class="normal" src="{{ theme.link }}/assets/images/logos/logo-ecosystem.svg" alt="">
      <img class="invert" src="{{ theme.link }}/assets/images/logos/logo-ecosystem-invert.svg" alt="">
    </a>

    <nav id="top-menu">
      <a id="country-toggle"><i class="icon-position-pin"></i> {{ current_locale_name ? current_locale_name : 'Select your country' }}</a>
      <a id="language-toggle">{{ current_lang | upper }}</a>
      <a id="search-toggle"><i class="icon-search"></i></a>
      <a id="menu-toggle">
        <span class="bar1"></span>
        <span class="bar2"></span>
      </a>
    </nav>
  </div>

  {# MAIN MENU #}
  {% include 'partials/base/menu.twig' with { items: menu_primary.items } %}

</header>