<form id="ajax-form" class="filters">
  <div class="container">

    <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/case-studies" data-limit="9" data-featured="{{ featured }}">

    <div class="filter-group">
      <div class="title">Countries</div>
        <div>
          <input id="locale-13" type="checkbox" name="locale" value="13" />
          <label for="locale-13">Canada</label>
        </div>
        <div>
          <input id="locale-19" type="checkbox" name="locale" value="19" />
          <label for="locale-19">United States</label>
        </div>
    </div>

    <div class="filter-group">
      <div class="title">Sectors</div>
      {% for sector in industries %}
        <div>
          <input id="industries-{{ sector.term_id }}" type="checkbox" name="industries" value="{{ sector.term_id }}" />
          <label for="industries-{{ sector.term_id }}">{{ sector.name }}</label>
        </div>
      {% endfor %}
    </div>

  </div>
</form>