<{{ url ? 'a' : 'div' }} class="block-item {{ class }}" {% if url %} href="{{ url }}" {% endif %} {{ delay ? "data-aos=\"fade-up\" data-aos-delay=\"#{delay}\"" : '' }}> 

  <div class="image">
    <img src="{{ image.src('medium') }}" alt="{{ image.title }}" />
  </div>

  <div class="content">
      {% if surtitle %}<div class="surtitle">{{ surtitle }}</div>{% endif %}
      {% if title %}<h3 class="title">{{ title }}</h3>{% endif %}
      {% if description %}<div class="description">{{ description }}</div>{% endif %}

      {% block content %}{% endblock %}

      {% if footer %}<div class="footer">{{ footer }}</div>{% endif %}
  </div>
</{{ url ? 'a' : 'div' }}>