<div class="block-hero invert case-study-hero">

  <div class="image-ctn" data-aos="fade-up">
    <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
  </div>
  
  <div class="title-ctn">
    <a href="{{ industry_url }}" class="surtitle" data-aos="fade-up" data-aos-delay="400">{{ industry.name }}</a>
    <h1 class="title" data-aos="fade-up" data-aos-delay="200">{{ post.title }}</h1>

    <ul class="outcomes">
      <div class="list-label" data-aos="fade-up" data-aos-delay="600">Outcomes</div>
      {% for outcome in outcomes_list %}
        <li data-aos="fade-up" data-aos-delay="{{ (loop.index * 100) + 600 }}">{{ outcome.content }}</li>
      {% endfor %}
    </ul>
  </div>

</div>