{% extends 'partials/common/slider.twig' %}

{% block title %}
  <h2 data-aos="fade-up" data-aos-delay="200">{{ __('Other case studies', 'ecosystem-energy') }}</h2>
  <div class="category" data-aos="fade-up" data-aos-delay="400">{{ industry.name }}</div>
{% endblock %}

{% block slides %}
  {% for item in related_case_studies %}
    <a class="swiper-slide" href="{{ item.link }}" data-aos="fade-up" data-aos-delay="{{ loop.index * 100 + 600 }}">
      <img src="{{ item.thumbnail.src('medium') }}" alt="{{ item.thumbnail.title }}">
      <div class="title">{{ item.title }}</div>
    </a>
  {% endfor %}
{% endblock %}
