<div class="block-hero invert case-study-hero">

  <div class="image-ctn" data-aos="fade-right">
    <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
  </div>
  
  <div class="title-ctn">
    <a href="/{{ current_lang == 'en' ? 'industry' : 'fr/secteurs' }}/{{ industry.slug }}" class="surtitle" data-aos="fade-up" data-aos-delay="100">{{ industry.name }}</a>
    <h1 class="title" data-aos="fade-up" data-aos-delay="200">{{ post.title }}</h1>

    <ul class="outcomes" data-aos="fade-up" data-aos-delay="300">
      <div class="list-label">{{ __('Outcomes', 'ecosystem-energy') }}</div>
      {% for outcome in outcomes_list %}
        <li>{{ outcome.content }}</li>
      {% endfor %}
    </ul>
  </div>

</div>