<div class="contact-offices">
  <div class="lists-ctn">
    <ul class="list-canada">
      {% for office in offices_list_ca %}
        <li data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
          <a class="office-link">{{ office.title }}</a>
          <div class="info">
            <h3>{{ office.title }}</h3>

            <div class="phones">
              <a class="phone" href="tel:{{ office.phone }}">{{ office.phone }}</a>
              <p class="fax">{{ office.fax }}</p>
            </div>

            {% if office.address %}
              <div class="address">
                {{ office.address }}
                <a class="itinerary" href="https://maps.google.com/?q={{ office.address|replace({ '<br />': ' ', '<br>': ' ', '<p>': ' ', '</p>': ' ' })|striptags }}" target="_blank">
                  {{ __('See itinerary', 'ecosystem-energy') }}
                </a>
              </div>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>

    <ul class="list-us">
      {% for office in offices_list_us %}
        <li data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
          <a class="office-link">{{ office.title }}</a>
          <div class="info">
            <h3>{{ office.title }}</h3>

            <div class="phones">
              <a class="phone" href="tel:{{ office.phone }}">{{ office.phone }}</a>
              <p class="fax">{{ office.fax }}</p>
            </div>

            <div class="address">
              {{ office.address }}
              <a class="itinerary" href="https://maps.google.com/?q={{ office.address|replace({ '<br />': ' ', '<br>': ' ', '<p>': ' ', '</p>': ' ' })|striptags }}" target="_blank">
                {{ __('See itinerary', 'ecosystem-energy') }}
              </a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="office-info" data-aos="fade-up">
    <div class="default-content phones">
      <a href="tel:{{ theme_infos.phone }}">{{ theme_infos.phone }}</a>
      <p>{{ theme_infos.email }}</p>
    </div>
  </div>
</div>
