<div id="panel-header">
  <a id="panel-prev" {% if previous %} data-id="{{ previous.id }}" {% endif %} class="small circle btn {{ previous ? '' : 'disabled' }}"><i class="icon-small-arrow-left"></i></a>
  <a id="panel-next" {% if next %} data-id="{{ next.id }}" {% endif %} class="small circle btn {{ next ? '' : 'disabled' }}"><i class="icon-small-arrow-right"></i></a>
  <a id="panel-close" class=""><i class="icon-close-medium"></i></a>
</div>

<div id="panel-body">
  {% include 'partials/titles/block-hero.twig' with { 
    surtitle: 'Expertises',
    title: expertise.title,
    image: expertise.thumbnail,
    class: 'v-centered-title inner-page'
  } %}

  {{ expertise.content }}
  
  <div class="case-studies">
    <h2>Case studies</h2>
    <a class="internal link" href="">More case studies</a>

    <div class="block-list">
      {% for case_study in case_studies %}
        {% include 'partials/block-item.twig' with { 
          title: case_study.title,
          description: case_study.preview.read_more(false),
          url: case_study.link,
          image: case_study.thumbnail,
          class: ''
        } %}
      {% endfor %}
    </div>
  </div>
</div>
