<div class="expertises-list">
  <h2 data-aos="fade-up" data-aos-delay="200">{{ __('Here are some examples of measures that work together to deliver results', 'ecosystem-energy') }}</h2>
  <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/expertise">

  <div class="grid-list">
    {% for expertise in expertises %}

      <a class="link-item" data-id="{{ expertise.id }}" data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
        <h3>{{ expertise.title }}</h3>
        <img class="" src="{{ expertise.thumbnail.src('large') }}" alt="{{ expertise.thumbnail.title }}">
      </a>

    {% endfor %}
  </div>
</div>