<div id="panel-header">
  <a id="panel-prev" {% if previous %} data-id="{{ previous.id }}" {% endif %} class="small circle btn {{ previous ? '' : 'disabled' }}"><i class="icon-small-arrow-left"></i></a>
  <a id="panel-next" {% if next %} data-id="{{ next.id }}" {% endif %} class="small circle btn {{ next ? '' : 'disabled' }}"><i class="icon-small-arrow-right"></i></a>
  <a id="panel-close" class=""><i class="icon-close-medium"></i></a>
</div>

<div id="panel-body">
  {% include 'partials/common/block-hero.twig' with { 
    surtitle: __('Expertise', 'ecosystem-energy'),
    title: expertise.title,
    image: expertise.thumbnail,
    class: 'v-centered-title inner-page'
  } %}

  <div class="content" data-aos="fade-up" data-aos-delay="500">{{ expertise.content }}</div>

  {% if case_studies|length %}
    <div class="case-studies">
      <h2 class="featured-title" data-aos="fade-up" data-aos-delay="400" data-aos-anchor="#panel-body">{{ __('Case Studies', 'ecosystem-energy') }}</h2>
      <a class="internal link" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="#panel-body" href="{{ cs_link }}">{{ __('More case studies', 'ecosystem-energy') }}</a>

      <div class="block-list" data-aos="fade-up" data-aos-delay="800" data-aos-anchor="#panel-body">
        {% for case_study in case_studies %}
          {% include 'partials/common/block-item.twig' with { 
            title: case_study.title,
            description: case_study.preview.strip('<h2>').read_more(false),
            url: case_study.link,
            image: case_study.thumbnail,
            class: ''
          } %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
