<div id="panel-header">
  <a id="panel-prev" class="small circle btn"><i class="icon-small-arrow-left"></i></a>
  <a id="panel-next" class="small circle btn"><i class="icon-small-arrow-right"></i></a>
  <a id="panel-close" class=""><i class="icon-close-medium"></i></a>
</div>

<div id="panel-body">
  <h1>{{ expertise.title }}</h1>
  {{ expertise.content }}
</div>

    {# <div>
        {% if previous|length > 0%}
            <a href="{{ previous.link  }}">Previous</a>
        {% endif %}/
        {% if next|length > 0 %}
            <a href="{{ next.link  }}">next</a>            
        {% endif %}
    </div>

    <div>
        {% if case_studies|length > 0%}
            {% for case_study in case_studies %}
                <li>
                    <p>{{ case_study.title }}</p>
                    <p>{{ case_study.preview.read_more(false)  }}</p>
                    <img class="" src="{{ case_study.thumbnail.src('medium') }}" alt="{{ case_study.thumbnail.title }}">
                </li>
            {% endfor %}
        {% endif %}
    </div> #}