{% extends 'partials/common/slider.twig' %}

{% block title %}
  <h2 data-aos="fade-up" data-aos-delay="200">{{ __('Featured case studies', 'ecosystem-energy') }}</h2>
  <a data-aos="fade-up" data-aos-delay="400" href="{{ static_links["case-studies_link"].url }}" class="internal link desktop-link">{{ __('See all of our Case Studies', 'ecosystem-energy') }}</a>
{% endblock %}

{% block slides %}
  {% for item in case_studies %}
    <a class="swiper-slide" href="{{ item.case_study.link }}">
      <div data-aos="fade-up" data-aos-delay="{{ loop.index * 100 + 500 }}">
        <img src="{{ item.case_study.thumbnail.src('large') }}" alt="{{ item.case_study.thumbnail.title }}">
        <div class="surtitle">{{ item.industry }}</div>
        <div class="title">{{ item.case_study.title }}</div>
      </div>
    </a>
  {% endfor %}
{% endblock %}

{% block footer %}
  <a href="{{ static_links["case-studies_link"].url }}" class="internal link mobile-link">{{ __('See all of our Case Studies', 'ecosystem-energy') }}</a>
{% endblock %}