<div id="menu">
  <div id="menu-image"></div>
  <ul id="primary-menu">
    {% for item in items %}
      <li>

        <a class="{{ item.children ? 'secondary-link' : '' }}" href="{{ item.link }}">{{ item }}</a>
        {% if item.children %}
          <ul class="secondary-menu">

            {% for subItem in item.children %}
              <li>
                <a target="{{ subItem.target }}" href="{{ subItem.link }}">{{ subItem.title }}</a>
              </li>
            {% endfor %}

          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</div>