{% extends 'base.twig' %}
{% block content %}
    <h1>AWARDS</h1>

    {% if awards|length > 0%}
        <div>
            {% for key, awards_by_year in awards %}
            <ul>
                <h2>{{ key }}</h2>
                {% for award in awards_by_year %}
                    <li>
                        <p>{{ award.award.title }}</p>
                        <p>{{ award.award.organization }}</p>
                        <p>{{ award.award.year }}</p>
                        <a href="{{ award.case_study.link }}">{{ award.case_study.title }}</a>
                        <img class="" src="{{ award.award.thumbnail.src('medium') }}" alt="{{ award.award.thumbnail.title }}">
                    </li>
                {% endfor %}
            </ul> 
            {% endfor %}    
        </div>
    {% endif %}
    

{% endblock %}