{% extends 'base.twig' %}

{% block pageClass %}page-awards{% endblock %}

{% block content %}
  <div class="container">

    {% include 'partials/common/block-hero.twig' with { title: __('Awards', 'ecosystem-energy') } %}

    {% for key, awards_by_year in awards %}
      <div class="award-group">
        <h2 data-aos="fade-up">{{ key }}</h2>
        <ul>
          {% for award in awards_by_year %}

            <li data-aos="fade-up">
              <div class="logo">
                {% set img = award.award.thumbnail ? award.award.thumbnail.src('medium') : theme.link ~ '/assets/images/ui/awards-placeholder.jpg' %}
                <img src="{{ img }}" alt="{{ award.award.thumbnail.title }}">
              </div>

              <div class="content">
                <div class="title">
                  <h3>{{ award.award.title }}</h3>
                  <p>{{ award.award.organization }}</p>
                </div>

                {% if award.case_study.link %}
                  <div class="link-ctn">
                    <a class="external link" href="{{ award.case_study.link }}">{{ award.case_study.title }}</a>
                  </div>
                {% endif %}
              </div>
            </li>

          {% endfor %}
        </ul>
      </div>
    {% endfor %}
      
		</div>
{% endblock %}
