{% extends 'base.twig' %}
{% block content %}
    <img class="" src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
    <h1>{{post.title}}</h1>
    <div>
        {{post.content}}
    </div>

    <div class="list-ctn -style-2">
        {% for p in case_studies %}
            <article class="article">
                <h3 class="article-title"><a href="{{ p.link }}">{{ p.title }}</a></h3>
                <div class="article-extract">{{ p.preview.read_more(false) }}</div>
                <img class="" src="{{ p.thumbnail.src('medium') }}" alt="{{ p.thumbnail.title }}">
            </article>
        {% endfor %}
    </div>
{% endblock %}