{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}
{# {% include 'debug.twig' with { value: menu_primary.items } %} #}

{% block content %}

	{% if home_hero %}
    {% include 'partials/titles/home-hero.twig' with { title: home_hero.title, content: home_hero.content, button: home_hero.button } %}
	{% endif %}

  {{ dump(cta_contact) }}

	{% if sectors %}
		<div>
			<h2>{{ sectors.title }}</h2>
			<p>{{ sectors.content }}</p>
			{% if industries|length > 0 %}
				<ul>
					{% for industry in industries %}
						<li>
							<p>{{ industry.title }}</p>
							<img class="" src="{{ industry.thumbnail.src('medium') }}" alt="{{ industry.thumbnail.title }}">
							<a href="{{ industry.link }}">lien</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}

	{% if news %}
		<div>
			<h3>{{ news.title }}</h3>
			<p>{{news.post_date|date("F d, Y")}}</p>
			<a href="{{ news.link }}">lien</a>
		</div>
	{% endif %}

	{% if perspective %}
		<div>
			<h3>{{ perspective.title }}</h3>
			<p>{{perspective.post_date|date("F d, Y")}}</p>
			<a href="{{ perspective.link }}">lien</a>
		</div>
	{% endif %}

	{% if featured_block %}
		<div>
			<h3>{{ featured_block.upper_title }}</h3>
			<h2>{{ featured_block.title }}</h2>
			<p>{{ featured_block.content }}</p>
			<button>
				<a href="{{ featured_block.button.url }}" target="{{ featured_block.button.target }}">{{ featured_block.button.title }}</a>
			</button>
			<img class="" src="{{ featured_block.image.link }}" alt="{{ featured_block.image.title }}">
		</div>
	{% endif %}

	<div>
		<h2>Featured case studies</h2>
		{% if case_studies|length > 0%}
			<ul>
				{% for case_study in case_studies %}
					<li>
						<p>{{ case_study.industry }}</p>
						<p>{{ case_study.case_study.title }}</p>
						<p>{{ case_study.case_study.preview.read_more(false)  }}</p>
						<img class="" src="{{ case_study.case_study.thumbnail.src('medium') }}" alt="{{ case_study.case_study.thumbnail.title }}">
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% if career_block %}
		<div>
			<h3>{{ career_block.upper_title }}</h3>
			<h2>{{ career_block.title }}</h2>
			<p>{{ career_block.content }}</p>
			<button>
				<a href="{{ career_block.button.url }}" target="{{ career_block.button.target }}">{{ career_block.button.title }}</a>
			</button>
			<img class="" src="{{ career_block.image.link }}" alt="{{ career_block.image.title }}">
		</div>
	{% endif %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/front-page.js"></script>
{% endblock %}