{% extends 'base.twig' %}

{% block pageClass %}blue-head leadership-ctn{% endblock %}

{% block content %}

  {% include 'partials/titles/page-title.twig' with { 
    large: true,
    hideFilters: true,
    title: post.title, 
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper. Placerat mi felis consequat lobortis. At lobortis eu tincidunt hendrerit. Adipiscing amet faucibus cursus eleifend.' 
  } %}
  
  <div class="leadership-list">
    <div class="large container">
      {% for leader in leaders_list %}
        <a class="leader-item">
          <div class="image">
            <img class="" src="{{ leader.image.link }}" alt="{{ leader.image.title }}">
          </div>

          <div class="content">
            <h3>{{ leader.title }}</h3>
            <p>{{ leader.status }}</p>
          </div>
        </a>
          {# <li>
            <p>{{ leader.content }}</p>
            {% if leader.social_link|length > 0%}
              <ul>
                {% for social_link in leader.social_link %}
                  <li>
                    <a href="{{ social_link.link }}">{{ social_link.type.value }}
                      -
                      {{ social_link.type.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li> #}
      {% endfor %}
    </div>
  </div>


{% endblock %}