{% extends 'base.twig' %}

{% block pageClass %}blue-head leadership-page{% endblock %}

{% block content %}
  <div class="blue wrapper">
    <div class="large container">

      {% include 'partials/common/block-hero.twig' with {
        title: post.title,
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper. Placerat mi felis consequat lobortis. At lobortis eu tincidunt hendrerit. Adipiscing amet faucibus cursus eleifend.',
        class: 'invert'
      } %}

      <div class="leadership-list">
        {% for leader in leaders_list %}

          {% include 'partials/common/block-item.twig' with { 
            title: leader.title,
            description: leader.status,
            image: leader.image,
            url: '#',
            class: 'text-padding invert auto-height link-item',
            data_id: loop.index
          } %}

          <div class="leader-content" data-id="{{ loop.index }}" id="content-{{ loop.index }}">
            <div class="block-hero v-centered-title reverse">
              <div class="title-ctn">
                <h1 class="title" data-aos="fade-up" data-aos-delay="100">{{ leader.title }}</h1>
                <p class="status">{{ leader.status }}</p>
                <div class="social">
                  {% for s in leader.social_link %}
                    <a class="social-link" href="{{ s.link }}">{{ s.type.label }}</a>
                  {% endfor %}
                </div>
              </div>

              {% set tImage = TimberImage(leader.image) %}
              <div class="image-ctn" data-aos="fade-up" data-aos-delay="200">
                <img src="{{ tImage.src('large') }}" alt="{{ tImage.title }}">
              </div>

              <div class="text">{{ leader.content }}</div>
            </div>
          </div>

        {% endfor %}
      </div>

    </div>
  </div>

  <div id="side-panel-ctn">
    <div id="panel-overlay"></div>

    <div id="panel-content">
      <div id="panel-header">
        <a id="panel-prev" data-id="1" class="small circle btn"><i class="icon-small-arrow-left"></i></a>
        <a id="panel-next" data-id="2" class="small circle btn"><i class="icon-small-arrow-right"></i></a>
        <a id="panel-close" class=""><i class="icon-close-medium"></i></a>
      </div>
      <div id="panel-body"></div>
    </div>
  </div>
{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/leadership.js"></script>
{% endblock %}