{% extends 'base.twig' %}

{% block pageClass %}grey blue-head case-study-ctn{% endblock %}

{% block content %}

  {% include 'partials/titles/project-hero.twig' %}

  {% if awards_list|length > 0%}
    <ul class="container awards-list">
      {% for award in awards_list %}
        <li>
          <span class="name">{{ award.title }}</span>
          <span class="organization">{{ award.organization }}</span>
          <span class="year">{{ award.year }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="container">
    {{ post.content }}
  </div>

  <div class="slider case-studies-slider-ctn">
    <div class="container">
      <h2>Other case studies <span>{{ industry.name }}</span></h2> 
      {% include 'partials/case-studies-slider.twig' with { items: related_case_studies } %}
    </div>
  </div>

  <div class="bottom-section">
    {% if related_industry|length %}
      <div class="container related-industry">
        <div class="content">
          <div class="upper-title">Your industry</div>
          <h2>{{ related_industry[0].title }}</h2>
          <p>{{ related_industry[0].preview.read_more(false) }}</p>
        </div>

        <div class="image">
          <img class="" src="{{ related_industry[0].thumbnail.src('medium') }}" alt="{{ related_industry[0].thumbnail.title }}">
        </div>

        <a class="circle btn" href="{{ related_industry[0].link }}">Learn more</a>
      </div>
    {% endif %}

    {% include 'partials/contact-cta.twig' %}
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{theme.link}}/dist/scripts/pages/single-case-study.js"></script>
{% endblock %}