{% extends 'base.twig' %}
{% block content %}
    <img class="" src="{{ post.thumbnail.src('large') }}" alt="{{ post[0].thumbnail.title }}">
    <h1>{{post.title}} - {{post.post_date|date("F d, Y")}}</h1>
    <div>
        {{post.content}}
    </div>
    <div>
        {% if previous|length > 0%}
            <a href="{{ previous.link  }}">Previous</a>
        {% endif %}
        {% if next|length > 0 %}
            <a href="{{ next.link  }}">next</a>            
        {% endif %}
    </div>

{% endblock %}