{% extends 'base.twig' %}

{% block pageClass %}grey page-news{% endblock %}

{% block structuredData %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ current_url }}"
      },
      "headline": "{{ post.title }}",
      "image": ["{{ post.thumbnail.src }}"],
      "datePublished": "{{ post.post_date }}",
      "author": {
        "@type": "Organization",
        "name": "Ecosystem",
        "url": "{{ site.url }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Ecosystem",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ theme.link }}/logo.png"
        }
      }
    }
  </script>
{% endblock %}

{% block content %}

  {% include 'partials/common/post-hero.twig' with { post: post } %}

  <div class="small container">
    <div class="gutenberg-content">
      {{ post.content }}
    </div>

    {% include 'partials/news-nav.twig' with { next: next, prev: previous } %}
    {% include 'partials/common/contact-cta.twig' %}
  </div>
  
{% endblock %}