{% extends 'base.twig' %}

{% block pageClass %}blue-head industry-page{% endblock %}

{% block content %}

  {% include 'partials/block-item.twig' with {
    surtitle: 'Markets',
    title: post.title,
    image: post.thumbnail,
    class: 'featured static transparent hero'
  } %}

  <div class="container">
    {{ post.content }}
  </div>

  <div class="container clients-ctn">
    <div class="clients-head">
      <h2>{{ clients_block.title }}</h2>
      <div>{{ clients_block.content }}</div>
    </div>

    {% for list in clients_block.clients_list %}
      <div class="clients-list">
        {% for client in list %}
          <div class="image">
            <img class="" src="{{ client.image.link }}" alt="{{ client.image.title }}">
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


  <div class="featured-blocks-ctn">
    <div class="container">
      <h2>{{ featured_blocks.title }}</h2>

      <div class="featured-list">
        {% for bloc in featured_blocks.block_list %}
          <a class="featured-block">
            <img class="" src="{{ bloc.image.url }}" alt="{{ bloc.image.title }}">
            <h3>{{ bloc.title }}</h3>
            <div class="hover-ctn">{{ bloc.content }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if informations_blocks|length > 0%}
    <div class="container content-blocks-ctn">
      {% for bloc in informations_blocks %}
        <div class="content-block">
          <h2>{{ bloc.title }}</h2>
          <div>{{ bloc.column_1 }}</div>
          <div>{{ bloc.column_2 }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="case-studies-ctn">
    <div class="container top-section">
      <div class="case-studies-header">
        <h2>Case studies</h2>
        <p>Fermentum sagittis aliquam volutpat maecenas egestas. Pharetra gravida nisi dui enim dictumst nulla laoreet. </p>
        <a href="" class="">See all projects</a>
      </div>

      {% if featured_case_study|length > 0 %}
        <div class="case-studies-featured">
          {% include 'partials/block-item.twig' with {
            title: featured_case_study[0].title,
            description: featured_case_study[0].preview.read_more(false),
            image: featured_case_study[0].thumbnail,
            url: featured_case_study[0].link,
            class: 'horizontal invert'
          } %}
        </div>
      {% endif %}
    </div>

    <div class="container bottom-section">
      <div class="slider">
        {% include 'partials/case-studies-slider.twig' with { items: case_studies } %}
      </div>
    </div>
  </div>
{% endblock %}